/* src/Components.css */
.rounded-square {
    width: 100%;
    padding: 20px;
    border: 1px solid #007bff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.rounded-square h1 {
    margin: 0;
    font-size: 1.5rem;
}

.rounded-square p {
    margin-top: 10px;
    font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.custom-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    white-space: nowrap;
    text-align: center;
}

.custom-button:hover {
    background-color: #0056b3;
}

.custom-button:focus {
    outline: none;
}


